.main-content {
    margin-top: 60px; /* correspond à la hauteur de .top-navbar */
    padding: 1rem;     /* optionnel : un peu d'espace intérieur */
    transition: margin-left 0.3s ease;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

  }
