.main-content {
    margin-top:30px!important; /* correspond à la hauteur de .top-navbar */
    padding: 1rem;     /* optionnel : un peu d'espace intérieur */
    transition: margin-left 0.3s ease;
  }
